<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Page</title>
</head>
<body>
    <!-- insta 캠페인 링크 생성 -->
    <!-- utm_source == (insta || kakao || naver_blog),
        utm_campaign == 캠페인 이름(점심특선),
        utm_medium == 페이지를 들어오게 되는 계기(cpc == 직접접속),
        tempGald == GA ID  -->
    <a href="/test?utm_source=insta&utm_campaign=점심특선&utm_medium=cpc&tempGald=G-ZPVZ11ZH52">점심 뭐 먹지(인스타)</a>
    <br>
    <a href="/test?utm_source=kakao&utm_campaign=점심특선&utm_medium=cpc&tempGald=G-ZPVZ11ZH52">점심 뭐 먹지(카카오)</a>
    <br>
    <a href="/test?utm_source=naver_blog&utm_campaign=점심특선&utm_medium=cpc&tempGald=G-ZPVZ11ZH52">점심 뭐 먹지(네이버 블로그)</a>
</body>
</html>