<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit", method="post">
        <p>
            1. 수업시간, 쉬는 시간의 배분은 어떤 형태가 좋은가?
        </p>
        <input type="radio" id="num1-1" name="num1" value="1">
        <label for="num1-1">50분/10분</label>
        <input type="radio" id="num1-2" name="num1" value="2">
        <label for="num1-2">유동적</label>
        <input type="radio" id="num1-3" name="num1" value="3">
        <label for="num1-3">기타</label>
        <p>
            2. 진도를 나가는 속도는 ?
        </p>
        <input type="radio" id="num2-1" name="num2" value="1">
        <label for="num2-1">빠르다</label>
        <input type="radio" id="num2-2" name="num2" value="2">
        <label for="num2-2">적당</label>
        <input type="radio" id="num2-3" name="num2" value="3">
        <label for="num2-3">느리다</label>
        <p>
            3. 추가적인 건의사항
        </p>
        <input type="text" name = 'etc' width="500px" height="300px">
        <br>
        <input type="submit">
    </form>
</body>
</html>