<!DOCTYPE html> <!-- 이 문서가 html로 이루어 져 있다는 것을 알리는 내용 -->
<html lang="en">
    <head> <!-- 가독성을 위해 해당 tab 별로 들여쓰기를 해보자 :> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- 제목 태그 -->
        <h1> index page </h1>
        <!-- 글의 문단 태그 -->
        <p> 
            이 페이지는 index 페이지입니다.
        </p>
        <!-- 리스트 태그 -->
        <!-- 비순서형 리스트 -->
        <ul>
            <li>list1</li>
            <li>list2</li>
            <li>list3</li>
        </ul>
        <!-- 순서형 리스트 -->
        <ol>
            <li>list1</li>
            <li>list2</li>
            <li>list3</li>
        </ol>
        <!-- 하이퍼 링크 생성 -->
        <!-- 절대 주소 -->
        <a href = 'https://google.com' > 구글로 이동</a>
        <a href = 'https://naver.com' > 네이버로 이동</a>
        <!-- 상대 주소  -->
        <!-- 현재 주소는 localhost:5000인 상태 -->
        <a href = "/second"> second page로 이동 </a>
    </body>
</html>