<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- 회원의 정보를 입력하는 공간 생성 -->
        <form action="/signup2" method="post">
            <label>
                ID
            </label>
            <input type="text" name="input_id">
            <br>
            <label>
                PASSWORD
            </label>
            <input type="text" name="input_pass">
            <br>
            <label>
                Name
            </label>
            <input type="text" name="input_name">
            <br>
            <!-- value 속성은 버튼 안의 텍스트를 변경 -->
            <input type="submit" value="회원가입">
        </form>
    </body>
</html>