<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to Eat</title>

    <!-- Jquery 라이브러리 로드 -->
        <!-- 기본함수인 document.getekenebtsBy~~ 써도 되지만 편의성과 속도 때문에 jquery 사용하는 것임 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZPVZ11ZH52"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZPVZ11ZH52');

        // ga_send() 생성

        function ga_send(){
            // input 태그 중 name이 select1인 태그의 value 추출
            let s1 = $('input[name="select1"]:checked').val()
            // select 태그 중 name이 select2인 태그의 value 추출
            let s2 = $('select[name="select2"]').val()
            // ga의 event 발생 함수를 호출
            gtag(
                'event',
                'user_select',
                {
                    select1 : s1,
                    select2 : s2
                }
            )
            
        }

    </script>
</head>
<body>
    <form action="/select" method="get">
        <!-- 짜장이냐 짬뽕이냐 선택할 수 있는 태그 생성 -->
            <!-- name으로 같은 친구들이야 묶어줘야 걔네들 중 하나로 선택하도록 연결됨 -->
        <div>
            <input name="select1" type="radio" value="짜장">
            <label>
                짜장 !
            </label>
            <br>
            <input name="select1" type="radio" value="짬뽕">
            <label>
                짬뽕 !
            </label>
        </div>
        <div>
            <select name="select2">
                <option value="부먹">
                    부먹 !
                </option>
                <option value="찍먹">
                    찍먹 !
                </option>
            </select>
            <input type="submit" onclick="ga_send()">
        </div>
    </form>
</body>
</html>