<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{select1}}, {{select2}}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZPVZ11ZH52"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZPVZ11ZH52');
    </script>
</head>
<body>
    오늘 저녁은 {{select1}}, 탕수육은 {{select2}}이다 !
    <div>
        <a type="button" href="/">다시 고르기</a>
    </div>
</body>
</html>